.dropzone {
  background-color: var(--mantine-color-dark-5);
  border: 2px dashed var(--mantine-color-dark-3);
  padding: 1rem;
}

.enabled {
  transition: background-color 150ms ease, border-color 150ms ease;
  cursor: pointer;
}

.enabled:hover {
  background-color: var(--mantine-color-dark-4);
  border-color: var(--mantine-color-dark-2);
}

.disabled {
  cursor: not-allowed;
  transform: none;
}
